{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
      <img class = "rounded-circle article-img" src=" {{object.author.profile.image.url }} ">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
          <div>
            {% if object.author == user %}
              <a class="btn btn-secondary btn-sm" href="{% url 'post-update' object.id %}"> Update </a>
              <a class="btn btn-danger btn-sm" href="{% url 'post-delete' object.id %}"> Delete </a>
            {% endif %}
              <a class="btn btn-secondary btn-sm" href="{% url 'comment-create' object.id %}"> Comment </a>
          </div>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
      </div>
    </article>
     <div>
        <h3> Comments </h3>
          {% for comment in comments %}
              <p>
                <img class="rounded-circle comment-img" src="{{comment.author.profile.image.url }}">
                {{ comment.author }} : "{{ comment.content }}"
              </p>
              {% if comment.author == user %}
                <a href="{% url 'comment-delete' comment.post.id comment.id %}" class="btn btn-danger btn-sm">delete comment</a>
                <a href="{% url 'comment-update' comment.post.id comment.id %}" class="btn btn-secondary btn-sm">update comment</a>
            {% endif %}
          {% endfor %}
      </div>
{% endblock content %}